.greeting {
    color: rgb(255, 0, 217);
    text-align: center;
    font-family: "Ojuju", sans-serif;
    font-size: 50px;
}
.buscar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Ojuju", sans-serif;
    font-size: 70px;
    color: blueviolet;
}
.listado {
    display: grid;
    justify-content: center;
    align-items: center;
    
    

}

